$color-font-light: #ffffff;
$color-background: #000000;
$color-main-title: #416df4;
$color-border-btn: #310e00;
$color-font-btn: #671d00;
$color-game-button: #fcff00;
$color-game-button-hover: #671d00;
